#PAGE_TOP#
<div class="form-inline">
	<input class="form-control form-control-lg flex-fill mr-2" type="text" id="filter" placeholder="Фильтр по имени игры">
	<button id="button_hide_images" type="button" class="btn btn-primary collapse my-2">Скрыть обложки</button>
	<button id="button_show_images" type="button" class="btn btn-success collapse.show my-2">Показать обложки</button>
</div>

</br>
<div class="form-group">
	<div class='card' id="tag_filter">
		<div class='card-body' id="genre_filter">
			<h4 style="margin-bottom:12px;">Показывать только выбранные жанры</h4>
			#FILTER#
			<button id="button_clear_genres" type="button" class="btn btn-danger collapse my-2">Сбросить выбранные жанры</button>
		</div>
	</div>
</div>


<table class='table table-bordered table-hover'>
	<thead>
		<tr>
			<th class="game_image_block" style="width:180px; max-width: 180px; display: none;"><h5>Обложка</h5></th>
			<th><h5>Игра</h5></th>
			<th><h5>Жанр</h5></th>
		</tr>
	</thead>
	<tbody>
	#TABLE#
	</tbody>
</table>

<div class="card bg-light border-success mt-1 mb-1" id="try_utilities_block" style='display:none;'>
  <div class="card-body">
    <h5 class="card-title">Не нашли что искали?</h5>
    <p class="card-text">Не расстраивайтесь! Попробуйте раздел с универсальными утилитами :)</p>
    <a href="/utilities.html" class="btn btn-primary">Перейти в раздел с утилитами</a>
  </div>
</div>