<div class="card d-none d-lg-block">
	<div class="card-body">
		<p>На этом сайте вы найдёте портированные версии (sourceport'ы) и модификации старых игр, позволяющие как минимум запустить их на
			современных операционных системах, как максимум - получить лучшую графику или другие преимущества: тонко&nbsp;настраиваемое&nbsp;управление,
			обзор с помощью мыши, сетевую игру через интернет и т.д. #GAMES_COUNT#</p>
		<p>Сайт пополняется и развивается его посетителями, так что если вы захотите что-то изменить или добавить - добро пожаловать <a href="https://github.com/Newbilius/GamesRevival/blob/master/readme.md">в&nbsp;раздел с&nbsp;инструкциями!</a></p>
	</div>
</div>

<center>
	<a href="/games.html" class="btn btn-outline-dark btn-lg btn-block" role="button">Посмотреть все игры на сайте</a>		
	<br>
</center>

<form>
	<div class="form-inline">
		<input class="form-control form-control-lg flex-fill mr-2" type="text" id="filter" placeholder="Фильтр по имени игры">
		<button id="button_show_tags" type="button" class="btn btn-primary collapse.show my-2">Фильтр по тегам</button>
		<button id="button_hide_tags" type="button" class="btn btn-danger collapse my-2">Сбросить фильтр</button>
	</div>
	<div class="form-group">
		<p></p>
		<div class='card collapse' id="tag_filter">
			<div class='card-body'>
				#FILTER_TAGS#
			</div>
		</div>
	</div>
</form>