<div class='card'>
	<div class='card-header' style="font-size:1.3em;">
	<center>Обновления</center>
	</div>
	<div class='card-body' style="font-size:1.0em;">
		<div id='last_updates' style="display:none;"></div>
		<div id='last_updates_loading_animation'><center><img src='/img/loading.gif'></center><br></div>
		<a href="https://github.com/Newbilius/GamesRevival/commits/master" class="btn btn-outline-secondary btn-block" role="button">Ещё</a>
	</div>
</div>

<div class='card'>
	<div class='card-header' style="font-size:1.3em;">
	<center>Свежие комментарии</center>
	</div>
	<div class='card-body' style="font-size:1.0em;">
		<div id='last_comments' style="display:none;"></div>
		<div id='last_comments_loading_animation'><center><img src='/img/loading.gif'></center><br></div>
		<a href="https://disqus.com/home/forums/gamesrevival/" class="btn btn-outline-secondary btn-block" role="button">Ещё</a>
	</div>
</div>